dojo_pets_zip.zip
dojo_pets/__pycache__/pet.cpython-39.pyc
dojo_pets/dojo_pets_classes/other_pet.py
dojo_pets/dojo_pets_classes/__pycache__/pet.cpython-39.pyc
pokemon/pokemon_classes/__pycache__/firetype.cpython-39.pyc
pokemon/pokemon_classes/__pycache__/watertype.cpython-39.pyc
